
.cart-modal {
  .modal-dialog {
    width: 840px;
    max-width: calc(100% - 20px);
  }
}

.cart-modal--header {
  position: relative;
  padding: 16px 20px 14px 20px;
  border-bottom: 1px solid var(--gray-2, #D0D0D0);
  overflow: hidden;
}

.cart-modal--close {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 0;
  border: 0;
  background: 0;
}

.cart-modal--title {
  float: left;
  font-size: 24px;
  font-weight: 600;
}

.cart-modal--body {
  padding: 30px 20px 0 20px;
}

.cart-modal--products {
  overflow: hidden;
}

.cart-modal--item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--slate-200);

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
}

.cart-item--image {
  width: 80px;
  height: 80px;
}

.cart-item--image img {
  width: 100%;
  object-fit: cover;
}

.cart-item--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;
  margin-left: 0;
  user-select: none;
  overflow: hidden;
  color: var(--black);
}

.cart-item--content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-item--name {
  margin-bottom: 4px;
}

.cart-item--model {
  color: var(--slate-600);
  font-size: 14px;
}

.cart-item--remove-button {
  position: absolute;
  bottom: 14px;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  svg {
    margin-right: 5px;
  }

  &:hover {
    color: var(--red-500, #F33);

    svg path {
      fill: var(--red-500, #F33);
    }
  }
}


.cart-item--quantity-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart-item--quantity-plus,
.cart-item--quantity-minus {
  float: left;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none !important;
  outline: none !important;
  background: none !important;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  line-height: 40px;

  &.disabled {
    color: var(--slate-500);
  }
}

.cart-item--quantity-input {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid var(--slate-400);
  text-align: center;
}

.cart-item--quantity-minus {
  float: left;
}

.cart-item--price-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  & > * {
    flex-shrink: 0;
    white-space: nowrap;
  }

  .cart-item--price-discount {
    display: block;
    color: var(--slate-400);
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
  }

  .cart-item--price {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
  }

  .cart-item--price-total {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.17;
  }
}

.cart-item--price_discount {
  padding-top: 0;
  color: var(--slate-400);
}

.cart-item--price.cart-item--price_discount

.cart-modal--totals {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--slate-200);
}

.cart-modal--totals-item {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.cart-modal--totals-title {
  margin-right: 10px;
  color: var(--gray-3, #828282);
  font-size: 14px;
}

.cart-modal--totals-text {
  font-size: 24px;
  font-weight: 600;
}

.cart-modal--btn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 30px 0;
  overflow: hidden;
}

.cart-modal--related-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--slate-300);
  border-radius: var(--bs-border-radius-xl);
  background: var(--slate-100);
  padding: 15px;
  margin-bottom: 20px;
}

.cart-modal--related-items-heading {
  color: var(--slate-500);
  margin-bottom: 0;
}

.cart-modal--related-item {
  .product-list.product-list--min {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid var(--slate-300);
    padding: 0;

    /* Use only mobile view of min product list for analogues section */
    .d-lg-none {
      display: flex !important;
    }

    .d-lg-flex {
      display: none !important;
    }

    .product-list--image {
      height: 50px;
      width: 50px;
    }

    .product-list--name {
      width: 100%;
    }

    .product-list--model, .product-list--status {
      font-size: 12px;
    }

    .product-list--details {
      gap: 10px;
    }
  }

  &:last-child .product-list {
    border-bottom: 0;
  }
}